{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-4">
                    <h6>Alpha Tech Academy</h6>
                </div>
                <div class="col-md-8">
                    <ul class="nav justify-content-end Class1">
                        <li class="nav-item">
                            <a class="nav-link active" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/mentor">Mentor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/mentee">Mentee</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/author">Author</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row justify-content-md-center Class2">
                <div class = "col-md-7 text-center Class3">
                    <img src="https://i.postimg.cc/mrRR4MFM/alpha-logo.png" alt="Alpha Technology Indonesia">
                    <h1>Alpha Tech Academy</h1>
                    <p class="text-white">Alpha tech academy is a tech talent incubator that gives everyone (even non IT 
                        background) a chance to be a professional Tech Talent within 3 months. Contact Person:
                        Email : academy@alphatech.id <br>
                        Mobile Phone: 0877 9609 9630 
                    </p>
                </div>
            </div>
        </div>
    </header>
        {% block home %}
        {% endblock %}   
    <footer>
        <div class="container-fluid">
            <div class="row justify-content-center Class4">
                <div class="col-md-8 text-center">
                    <p><b>Our Product:</b> <img src="https://i.postimg.cc/XY93txX4/logo-grey-alphapay.png" class="img-fluid" alt="Responsive image"> <img src="https://i.postimg.cc/9fjXfKsD/logo-grey-sepulsa.png" class="img-fluid" alt="Responsive image"> <img src="https://i.postimg.cc/gJ2WXWs2/logo-grey-alphabill.png" class="img-fluid" alt="Responsive image"> </p>
                </div>
            </div>
            <div class="row justify-content-center Class6">
                <div class="col-md-8 text-center Class5">  
                    <p><b>Contact Person:</b> Mobile Phone: 0877 9609 9503. Email: <a href="#">academy@alphatech.id</a></p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
