{% extends 'base/base.html' %}
{% load static %}

{% block home %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div>
                    <img src="{% static '/img/Tardigrade-2_tcm25-564214.jpg' %}" class="img-fluid" alt="Responsive image">
                    <h3>Raden Panji Maharjo Tri</h3>
                    <br>
                    <p style="color:#152120;"><b>Ini tentang Summary saya</b>, Nama saya Raden Panji Maharjo Tri Wibowo, saya lulus dari Universitas Airlangga dengan mengambil program studi Matematika, hobby saya bermain game, saat ini saya belajar programming dan saya menyukainya.</p>
                    <br>
                    <table>
                        <tbody>
                            <div class=></div>
                            <tr>
                                <td>Alamat</td>
                                <td style="padding-left: 130px;">: Jombang, Citra Raya blok C9/11</td>
                            </tr>
                            <tr>
                                <td>Telephone</td>
                                <td style="padding-left: 130px;">: 082283511672</td>
                            </tr>
                            <tr>
                                <td>Education</td>
                                <td style="padding-left: 130px;">: Strata satu</td>
                            </tr>
                            <tr>
                                <td>Profession</td>
                                <td style="padding-left: 130px;">: Student Alterra</td>
                            </tr>
                            <tr>
                                <td>Nationality</td>
                                <td style="padding-left: 130px;">: Indonesia</td>
                            </tr>
                            <tr>
                                <td>Company</td>
                                <td style="padding-left: 130px;">: Alterra</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td style="padding-left: 130px;">: panji@alterra.id</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <div style = "text-align:justify;">
                        <iframe width="500px" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d246.95711072183693!2d112.61030416136593!3d-7.966489344998797!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sid!4v1563896445961!5m2!1sen!2sid" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}