{% extends "base/base.html" %}
{% load static %}

{% block home %}
    <div class="container">
        <div class="row justify-content-center Class7">
            <div class="col-md-4" style="padding-left: 70px;">
                    <img src="https://i.postimg.cc/m2tgpQQg/benefit.png" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-md-8 text-left Class8">
                <h4>Learn awesome tech</h4>
                <p style="color:#152120;">You will learn about programming language, such as Python and Javascript, build back-end apps using Flask framework with microservice concept, build client site apps using React Library, etc.</p>
            </div>
        </div>
        <br>
        <div class="row justify-content-center Class9">
                <div class="col-md-4" style="padding-left: 70px;">
                    <img src="https://i.postimg.cc/L40HPnrK/search-job.png" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-md-8 text-left Class10">
                    <h4>Land new job</h4>
                    <p style="color:#152120;">If you can pass this awesome program, you will be part of our releable tech team for especially Software Engineer position and each other tech position such as Quality Engineer, System Analyst, etc.</p>
                </div>
        </div>
        <br>
        <div class="row justify-content-center Class11">
                <div class="col-md-4" style="padding-left: 70px;">
                    <img src="https://i.postimg.cc/hj2Kpjvm/get-paid.png" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-md-8 text-left Class12">
                    <h4>Learn awesome tech</h4>
                    <p style="color:#152120;">Join for free and earn some money. Yes you read that right, no registration fee required to enter this program. To make things even better, you will recieve pocket money just for participating. Cool right ?</p>
                </div>
        </div>
        <br><br><br>
        <div class="row justify-content-center Class13">
                <div class="col-md-4" style="padding-left: 70px;">
                    <img src="https://i.postimg.cc/Pq4H5xm7/mission.png" class="img-fluid" alt="Responsive image">
                </div>  
                <div class="col-md-8 text-left Class14">
                    <div class="row" style="padding-left: 16px;">
                        <h3>Who are we?</h3>
                        <p style="color:#152120;">Alpha Tech Academy is a tech talent incubation that gives anyone any chance (not even an IT background) to learn within 3 months of being a professional Tech Talent. What is our mission? We want to improve capability Tech Talent in Indonesia</p>
                    </div>
                    <br>
                    <div class="row d-block" style="padding-left: 16px;">
                        <h3>What is our mission?</h3>
                        <div>
                            <p style="color:#152120;">we want to improve capability Tech Talent in Indonesia</p>
                        </div>
                    </div>
                </div>
        </div>
        <br><br><br>
        <div class="row justify-content-center">
            <h3>What will you learn?</h3>
        </div>
        <br>
        <div class="row justify-content-center Class11">
                <div class="col-md-3 text-center" style="border-color: #CDE6E3;">
                    <img src="https://i.postimg.cc/ZqFbvjhV/learn-html.png" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-md-3 text-center" style="border-color: #CDE6E3;">
                    <img src="https://i.postimg.cc/c424prmM/learn-programming.png" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-md-3 text-center" style="border-color: #CDE6E3;">
                    <td><img src="https://i.postimg.cc/vBYQr9YM/learn-git.png" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-md-3 text-center" style="border-color: #CDE6E3;">
                    <img src="https://i.postimg.cc/m2zTyTsc/learn-api.png" class="img-fluid" alt="Responsive image">
                </div>
        </div>
        <br><br>
        <div class="row justify-content-center Class11">
                <div class="col-md-3 text-center" style="border-color: #CDE6E3;">
                    <img src="https://i.postimg.cc/6qTtSX4m/learn-react.png" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-md-3 text-center" style="border-color: #CDE6E3;">
                    <img src="https://i.postimg.cc/GmDhddg0/learn-tdd.png" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-md-3 text-center" style="border-color: #CDE6E3;">
                    <td><img src="https://i.postimg.cc/c4p0DPxF/learn-server.png" class="img-fluid" alt="Responsive image">
                </div>
                <div class="col-md-3 text-center" style="border-color: #CDE6E3;">
                    <img src="https://i.postimg.cc/vTjbwNWH/learn-scrum.png" class="img-fluid" alt="Responsive image">
                </div>
        </div>
        <br>
        </div>
    </div>
    <br><br><br>
{% endblock %}
